@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato');
:root{
    --primaryred:#ff424f;
    --secondaryred:#f84735;
    --lightblack:#222b31;
    --darkblack:#191c1f;
    --mainfont:'Dancing Script', cursive;
    --secondfont: 'Lato', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family:var(--secondfont);
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
.fullcontent{
    width:100%;
    min-height: 100vh;
    height: auto;
    padding:6% 10% 5% 10%;
    background-image: url(img/b.jpg);
    background:linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url(../images/background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
}

 /* mobile */
@media (max-width:500px){
    .fullcontent{
        flex-direction: column;
    }  
}

 /* tablet */

@media (max-width:768px){
    .fullcontent{
        flex-direction: column;
    }  
}


.headings{
     /* background:red;  */
    flex-basis: 65%;
    margin-right: 5%;
}
.headings h1{
    font-size: 4rem;
    font-family:var(--mainfont);
    color:white;
    margin:3% 0% 3% 0%;
}
.headings h2{
	font-size:1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.headings .price{
	font-size:1.6rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.329);
}

.headings .genre{
	font-size: 1rem;
    font-weight: 250;
    color: rgba(255, 255, 255, 0.925);
}

.formbox{
    background:rgb(34,43,49,0.7);
    color:white;
    flex-basis: 35%;
    border-top: 10px solid var(--secondaryred);
    padding:2% 3%;
}
.formbox *{
    margin: 0;
}
.formbox h3{
    font-family: var(--mainfont);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.formbox form label{
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.3rem;
}
.formbox form .asd{
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    background: transparent;
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
	color : white;
}

.mainbox {
    color: white;
    box-shadow: none;
    background: var(--secondaryred);
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* booklist page css */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- Main css -------------------------------------------------------------*/
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
 
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

[type=date]{
	border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    background: transparent;
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
	color:white !important;
}

/* ------------------------------------------------- for mobiles -------------------------------------------------------------------- */
@media(min-width: 10px ) and (max-width:500px ){
    /* ---------------------------------- NAV BAR ---------------------------- */
    
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: centre;
    }
    .nav1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2em;
    }
    .icon-about{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5em;
        padding: 1em;
    }
    .nav1 a{
        margin-top: 0.5em;
        padding: 1em;
        border-bottom: 1px solid #adb5bd;
        color: #adb5bd;
        font-size: 1em;
        text-decoration: none;
        transform: translateY(103px);
    }
    .nav1 input{
        margin-top: 0.5em;
        border: none;
        border-bottom: 1px solid #adb5bd;
        padding: 1em ;
        font-size: 1em;
       text-align: center;
    }
    .nav1 input::placeholder{
        font-family: 'Roboto', sans-serif;
        color: #adb5bd;
        font-size: 1em;
    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
    .nav-bar h3{
        margin-top: 0.5em;
        /* border-bottom: 1px solid #adb5bd; */
        padding: 0.8em 1em;
        font-size: 1em;
        font-weight: bold;
        transform: translateY(-103px);
    }
    .material-icons-outlined{
        color: #adb5bd;
        size: 2px;
        margin-right: 1em;
    
    }
    .icon-about a{
        text-decoration: none;
        color: #adb5bd;
        font-size: 1em;
        padding-left: 1em;
    }

    /* ------------------------- main book store ---------------------------- */
    main{
        margin-top: 1em;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .books{
        display: flex;
        flex-direction: row;
        background-color: #7c7a7d;
        border-radius: 10px;
        margin-bottom: 3em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    .books:nth-of-type(2){
        background-color: #666364;
    }
    .books:nth-of-type(3){
        background-color: #6d7070;
    }
    .books:nth-of-type(4){
        background-color: #7a7876;
    }
    .book-img{
        width: 100%;
        max-width: 1000px;
        margin: 1.5em;
        border-radius: 3px;
        transition: transform 1s;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .book-img:hover{
        transform: scale(1.05);
    }
    .descp{
        margin: 1.5em;
        padding: 1em;
        
    }
    .book-name{
        font-weight: bold;
        padding-bottom: 0.5em;
        font-size: 1.1em;
        letter-spacing: 1px;
        color: white;
    }
    .author{
        padding-bottom: 0.5em;
        font-size: 1.1em;
        letter-spacing: 1px;
        color: white;
    }
    .rating{
        padding-bottom: 1.2em;
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .info{
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .descp button{
        margin-top: 1em;
        background: none;
        border: none;
        color: #757377;
        background-color: white;
        padding: 0.6em 1.5em;
        font-size: 1em;
        border-radius: 20px;
        font-weight: bolder;
    }
    .descp button:hover{
        color: #8c8b8f;
    }
    #b1{
        color: #767373;
    }
    #b1:hover{
        color: #6a6969;
    }
    #b2{
        color: #717374;
    }
    #b2:hover{
        color: #6c6d6e;
    }
    #b3{
        color: #7d7c7b;
    }
    #b3:hover{
        color: #757474;
    }

}

/* ------------------------------------------------- for Tablets -------------------------------------------------------------------- */

@media(min-width: 501px ) and (max-width:779px ){
   
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 70%;
    }
    .nav1{
        display: flex;
        flex-direction: row;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        
    }
    .nav1 a{
        padding: 1.2em;
        border: none;
        border-right: 1px solid #adb5bd; 
        color: #adb5bd;
        font-size: 90%;
        text-decoration: none;
    }
    .nav1 input{
        border: none;
        margin-left: 0.5em;
        padding: 2em ;
        font-size: 1em;
        height: 50%;
    }
    .nav1 input::placeholder{
        font-family: 'Roboto', sans-serif;
        color: #adb5bd;
        font-size: 1em;
    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
    .nav-bar h3{
        padding: 1em 1em;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        font-size: 1.2em;
        font-weight: bold;
    }
    .icon-about{
        display: flex;
        align-items: center;
    }
    .material-icons-outlined{
        color: #adb5bd;
        size: 2px;
        margin-right: 1em;
    
    }
    .icon-about a{
        margin-right: 2em;
        text-decoration: none;
        color: #adb5bd;
        font-size: 1em;
        border-left: 1px solid #adb5bd;
        padding-left: 1em;
    }

    /* ------------------- MAIN BOOKS ---------------------------------- */
    main{
        margin-top: 1em;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .books{
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 600px;
        justify-content: space-evenly;
        background-color: #6e6d6e;
        border-radius: 20px;
        margin-bottom: 3em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    .books:nth-of-type(2){
        background-color: #6f6c6c;
    }
    .books:nth-of-type(3){
        background-color: #6a6c6c;
    }
    .books:nth-of-type(4){
        background-color: #787776;
    }
    .book-img{
        width: 70%;
        max-width: 500px;
        border-radius: 3px;
        transition: transform 1s;
        margin: 1.5em;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .book-img:hover{
        transform: scale(1.1);
    }
    .descp{
        margin: 1.5em;
        padding: 1em;
        
    }
    .book-name{
        font-weight: bold;
        padding-bottom: 0.5em;
        font-size: 1.1em;
        letter-spacing: 1px;
        color: white;
    }
    .author{
        padding-bottom: 0.5em;
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .rating{
        padding-bottom: 1.2em;
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .info{
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .descp button{
        margin-top: 1em;
        background: none;
        border: none;
        color: #79787a;
        background-color: white;
        padding: 0.6em 1.5em;
        font-size: 1em;
        border-radius: 20px;
        font-weight: bolder;
    }
    .descp button:hover{
        color: #8d8b92;
    }
    #b1{
        color: #959393;
    }
    #b1:hover{
        color: #848282;
    }
    #b2{
        color: #686969;
    }
    #b2:hover{
        color: #606162;
    }
    #b3{
        color: #838281;
    }
    #b3:hover{
        color: #7b7977;
    }


}





/*--------------------------------------------------------------- fOR PC AND LAPTOPS -------------------------------------------- */
@media(min-width: 780px ){
    /* ----------------------------------------------------- Navbar ---------------------------------------------------------- */
    
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav1{
        display: flex;
        flex-direction: row;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .nav1 a{
        padding: 1em;
        border: none;
        border-right: 1px solid #adb5bd;
        color: #adb5bd;
        font-size: 1em;
        text-decoration: none;
    }
    .nav1 input{
        border: none;
        margin-left: 0.5em;
        padding: 0.8em 1em;
        font-size: 1em;
    }
    .nav1 input::placeholder{
        font-family: 'Roboto', sans-serif;
        color: #adb5bd;
        font-size: 1em;
    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
    .nav-bar h3{
        padding: 0.8em 1em;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        font-size: 1em;
        font-weight: bold;
    }
    .icon-about{
        display: flex;
        align-items: center;
    }
    .material-icons-outlined{
        color: #adb5bd;
        size: 2px;
        margin-right: 1em;
    
    }
    .icon-about a{
        margin-right: 2em;
        text-decoration: none;
        color: #adb5bd;
        font-size: 1em;
        border-left: 1px solid #adb5bd;
        padding-left: 1em;
    }

    /* ------------------- MAIN BOOKS ---------------------------------- */
    main{
        margin-top: 1em;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .books{
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 600px;
        justify-content: space-evenly;
        background-color: hsl(266, 3%, 58%);
        border-radius: 10px;
        margin-bottom: 3em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    .books:nth-of-type(2){
        background-color: hsl(266, 3%, 58%);
    }
    .books:nth-of-type(3){
        background-color:hsl(266, 3%, 58%);
    }
    .books:nth-of-type(4){
        background-color:hsl(266, 3%, 58%);}
    .book-img{
        width: 100%;
        max-width: 500px;
        border-radius: 3px;
        transition: transform 1s;
        margin: 1.5em;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .book-img:hover{
        transform: scale(1.05);
    }
    .descp{
        margin: 1.5em;
        padding: 1em;
        
    }
    .book-name{
        font-weight: bold;
        padding-bottom: 0.5em;
        font-size: 1.1em;
        letter-spacing: 1px;
        color: white;
    }
    .author{
        padding-bottom: 0.5em;
        font-size: 1.1em;
        letter-spacing: 1px;
        color: white;
    }
    .rating{
        padding-bottom: 1.2em;
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .info{
        font-size: 1em;
        letter-spacing: 1px;
        color: white;
    }
    .descp button{
        margin-top: 1em;
        background: none;
        border: none;
        color: #747276;
        background-color: white;
        padding: 0.6em 1.5em;
        font-size: 1em;
        border-radius: 20px;
        font-weight: bolder;
    }
    .descp button:hover{
        color: #acabb0;
    }
    #b1{
        color: #8b8686;
    }
    #b1:hover{
        color: #7f797b;
    }
    #b2{
        color: #646767;
    }
    #b2:hover{
        color: #868a8b;
    }
    #b3{
        color: #7b7876;
    }
    #b3:hover{
        color: #767370;
    }

}

